.subscription {
  background-color: black;
  color: #fff;
  padding: 20px 30px;
  padding-bottom: 7vw;
  text-transform: uppercase;

  h5 {
    opacity: 0.6;
  }
  h3 {
    font-size: 14px;
    margin-top: 10px;
  }
}
