.portfolioSection {
  background-color: black;
  padding-right: 10vw;
  padding-top: 200px;
  width: 100%;
  height: 100vh;
  color: #fff;
}

.elem {
  position: relative;
  width: 100%;
  padding: 2vw 1vw;
  border-top: 1px solid #888;
  display: flex;
  padding: 3.5vw 3vw;
  padding-right: 0;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &:hover {
    & > img {
      opacity: 1;
    }

    & > .textPortfolio {
      & > h1,
      h5 {
        opacity: 0.4;
        margin-left: 30px;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: 0.7;
  }

  h5{
    opacity: .7;
  }
}

.textPortfolio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.elemLast {
  border-bottom: 1px solid #888;
}

.elem img {
  position: absolute;
  z-index: 999;
  opacity: 0;
  bottom: 5%;

  height: 160%;

  /* border: 1px solid rgba(255, 255, 255, 0.5); */

  /* border-radius: 15px; */
  transition: all ease-in-out;
}
